.aboutIEI {
  min-height: 80vh;
  width: 100%;

}

.title-about-iei {
  color: var(--lightblue);
  text-align: center;
  font-size: 4rem;
  }

.content-about-iei{
  margin: 1.5rem;
  color: var(--cream);
  text-align: justify;
  justify-content: center;
  font-size: large;
  padding-left: 150px;
  padding-right: 150px;
  letter-spacing: 0.15rem;
  line-height: 2;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 50vh;
}

@media screen and (max-width: 426px) {
  .title-about-iei {
    font-size: 3rem; /* Adjust the font size as needed */
  }

  .content-about-iei {
    font-size: 0.8rem; /* Adjust the font size as needed */
    padding-left: 25px;
    padding-right: 25px;
  }
}