.aboutIEI {
  min-height: 100vh;
  width: 100%;
}

.title-about-iei {
    color: var(--cream);
    text-align: center;
  }

.content-about-iei{
  margin: 1.5rem;
  color: var(--cream);
  text-align: justify;
  justify-content: center;
  font-size: x-large;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 50vh;
}