.aboutIllumina {
  min-height: 100vh;
  width: 100%;
}

.title-about-illumina {
    color: var(--cream);
    text-align: center;
  }

.Logo{
  display: block;
  margin: 0 auto;
}

.content-about-illumina{
  margin: 1.5rem;
  color: var(--cream);
  text-align: justify;
  justify-content: center;
  font-size: x-large;
}