.timeline {
  min-height: 80vh;
  width: 100%;
  background-image: url('../../assets/timelinealt.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.title-timeline {
  color: var(--lightblue);
  text-align: center;
  font-size: 4rem;
  }

  @media screen and (max-width: 426px) {
    .timeline {
      min-height: 90vh;
      background-image: url('../../assets/timelinevert.png');
      background-size: contain;
    }
  }