.timeline {
  min-height: 110vh;
  width: 100%;
  background-image: url('../../assets/timeline.png');
  background-size: cover;
  background-position: center;
}

.title-timeline {
  color: var(--lightblue);
  text-align: center;
  font-size: 4rem;
  }