.AllComponents {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.animation {
    display: block;
    position: relative;
	z-index: 10;
}

.animation_layer {
	background-position: center;
	background-size: cover;
	background-repeat: repeat-x;
    min-height: 115vh;
	width: 100%;
	position: absolute;
}
.animation_layer.parallax {
	position: fixed;
}

#auroraB {
    background-image: url(./assets/AuroraB.png);
}

#front6 {
    background-image: url(./assets/front6new.png);
}

#front5 {
    background-image: url(./assets/front5.png);
}

#front4 {
    background-image: url(./assets/front4.png);
}

#front3 {
    background-image: url(./assets/front3new.png);
}

#front2 {
    background-image: url(./assets/front2.png);
}

#front1 {
    background-image: url(./assets/front1new.png);
}

#treesF {
    background-image: url(./assets/TreesF.png);
}

.title{
    color: var(--cream);
    text-align:center;
    text-justify:auto;
    text-shadow: none;
}

#title-text{
    position: right;
    font-size:7rem;
    font-weight:700;
    color: cornsilk;
    display: inline-block;
    text-align: center;
    opacity: 1;
}

